<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.ironman.dao.mapper.UserMapper">

    <sql id="tableName">
        mall_user
    </sql>
    <insert id="insert">
        insert into
        <include refid="tableName"/>
        (username,password,role,email)
        VALUES
        (#{user.username},#{user.password},#{user.role},#{user.email})
    </insert>
</mapper>